/* Manifiesto styles */

body{
  height: 100vh;
  overflow-y: hidden;
}
/*loader*/

.loader {
  position: absolute;
  top: calc(50vh - 24px);
  left: calc(50vw - 24px);
  width:  48px;
  height: 48px;
  background: var(--pink-color);
  transform: rotateX(65deg) rotate(45deg);
  /* transform: perspective(200px) rotateX(65deg) rotate(45deg);  */
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px  }
 90% , 100% { box-shadow: 20px 20px 0 -4px  }
}
@keyframes layerTr {
  0% { transform:  translate(0, 0) scale(1) }
  100% {  transform: translate(-25px, -25px) scale(1) }
}
    

  /*end loader*/

.prueba-fade img{
    position: absolute;
}

/* Seccion Nike antes y después*/
#page{
    /* width: 100%;
    height: 100%;
    position:absolute; */
}
  
/* Our normalize css */
*{
    margin:0;
    box-sizing: border-box;
}
  
/* Our wrapper */
.wrapper{
    width: calc(424px * 1.15); 
    height: calc(600px * 1.15) ;
    position: absolute;
    left:50%;
    top:55%;
    transform:translate3d(-50%,-45%,0);
    overflow:hidden;
    margin-top: 38vh
}

@media(max-width:1400px){
  .wrapper{
    width: calc(424px * 0.75); 
    height: calc(600px * 0.75) ;
  }
}
  
/* Our image information */
.before,
.after {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
    overflow: hidden;
}
  
.content-image{
    height:100%;
}
  
.after{
    width:125px;
}
  
.scroller{
    width: 50px;
    height:50px;
    position: absolute;
    left:100px;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
    background-color: transparent;
    opacity:0.9;
    pointer-events:auto;
    cursor: pointer;
}
  
.scroller:hover{
    opacity:1;
}
  
.scrolling{
    pointer-events:none;
    opacity:1;
    z-index: 1;
}
  
.scroller__thumb{
    width:100%;
    height:100%;
    padding:5px;
}
  
.scroller:before,
.scroller:after{
    content:" ";
    display: block;
    width: 3px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    z-index: 30;
    transition:0.1s;
}
.scroller:before{
    top:100%;
}
.scroller:after{
    bottom:100%;
}
  
/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller{
border: 2px solid #fff;
}
.scroller:before,
.scroller:after{
background: #fff;
}

#seccion-antes-y-despues{
  padding: 0;
}

#seccion-antes-y-despues .col{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

#seccion-layers-fade h3{
    margin-top: 50%;
}

/*Gallery*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: white;
}

.grid{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 1000px;
  height: 700px;
  transition: 0.5s;
}
@media(max-width:1400px){
  .container{
    height: 500px;
    max-width: 700px;
  }
}
.box {
  position: relative;
  background: var(--img);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*filter: brightness(1.25);*/
  border-radius: 25px;
  cursor: pointer;
}
.container:hover .box {
  filter: grayscale(1);
}
.container .box:hover {
  filter: grayscale(0) /*brightness(1.25)*/;
}
.container:has(.one:hover) {
  grid-template-columns: 1.25fr 0.5fr 0.5fr;
}
.container:has(.two:hover) {
  grid-template-columns: 0.5fr 1.25fr 0.5fr;
}
.container:has(.three:hover) {
  grid-template-columns: 0.5fr 0.5fr 1.25fr;
}

@media(max-width:1440px){
  .container:has(.one:hover) {
    grid-template-columns: 1.25fr 0.5fr 0.5fr;
  }
  .container:has(.two:hover) {
    grid-template-columns: 0.5fr 1.25fr 0.5fr;
  }
  .container:has(.three:hover) {
    grid-template-columns: 0.5fr 0.5fr 1.25fr;
  }
}

.container .box::before {
  content: "";
  width: 100%;
  height: calc(100% + 2px);

}
.container .box:nth-child(even) {
  transform: translateY(20px);
}
.container .box:nth-child(odd) {
  transform: translateY(-20px);
}
.container .box::after {
  content: attr(data-text);
  position: absolute;
  bottom: -80px;
  background: #fff!important;
  padding: 5px 20px;
  /*text-transform: uppercase;*/
  white-space: nowrap;
  font-size: 18px;
  /*-webkit-box-reflect: below 2px linear-gradient(transparent, #0003);*/
  opacity: 0;
  background-image: url(../assets/img/ilustracion-monster-inc.png);
}

.container .box:hover::after {
  opacity: 1;
  transition: 0.2s;
  transition-delay: 0.2s;
  bottom: -50px;
  font-size: 1.5rem;
  font-family: Lato;
  color: var(--dark-blue-color);
  margin-top: 1rem;
}

/*Section*/

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Miscelaneas */
.purple-waves{
  top: 5vh;
  right: -10px;
  width: 250px;
}

.lightblue-waves{
  top: 80vh;
  right: -10px;
}

.yellow-waves{
  top: 5vh;
  left: -10px;
  width: 200px;
}

.cubo-3d{
  top: 75vh;
  left: -6px;
}

.r{
  background: url("../assets/img/sticker-4.png") no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 45vh;
  right: 9px;
}

.page-transition{
  position: absolute;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    z-index: 10000;
}

#rosa{
  background: var(--pink-color);
}
#amarillo{
  background: var(--yellow-color);
}
#celeste{
  background: var(--light-blue-color);

}

.top-100vh{
  top: 100vh;
}

.top-0vh{
  top: 0vh;
}


.transicion{
  animation: transicion 2s ease-in-out;
}

@keyframes transicion{
  from{
      top:-100vh;
  }
  to{
      top: 100vh;
  }
}

.transicion-celeste{
  animation: transicion-celeste 2s ease-in-out;
}

@keyframes transicion-celeste{
  from{
      top:0vh;
  }
  to{
      top: 100vh;
  }
}

body.modal-open section{
  filter: blur(0) !important;
}
.modal-dialog{
  background: white;
  border-radius: 14px;
}

#modal-one h2{
  margin-top: 10px;
}
.modal h2{
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
}

#modal-three{
  /* display: flex; */
  align-items: center;
}

#modal-three .modal-dialog{
  max-width: 65vw;
  min-height: fit-content;
}

.btn-close{
  /* position: absolute; */
  top: -457px;
  right: -24px;
  background-color: white;
  opacity: 1;
  padding: 1em;
  border-radius: 50%;
  z-index: 100;
}
#modal-two .modal-body{
  padding-top: 0;
}
#modal-two .btn-close{
  top: -80px;
}

#modal-three .btn-close{
  top: -24px;
}
.modal.fade{
  pointer-events: none;
}

.modal-header{
  padding-bottom: 0;
}
.puntos-celestes{
  background: url(../assets/img/dots.png) no-repeat center;
  background-size: contain;
  height: 30%;
  width: 30%;
  position: absolute;
  top: 25%;
  left: 10%;
}
.waves-celestes{
  background: url(../assets/img/waves-violetas.png) no-repeat center;
  background-size: contain;
  height: 30%;
  width: 30%;
  position: absolute;
  bottom: 25%;
  right: 10%;
}
.grid-amarillo{
  background: url(../assets/img/grid-amarillo.png) no-repeat center;
  background-size: contain;
  height: 30%;
  width: 30%;
  position: absolute;
  bottom: 20%;
  right: 8%;
  z-index: 1;
}
.triangulo-azul{
  background: url(../assets/img/waves-celestes.png) no-repeat center;
  background-size: contain;
  height: 30%;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 1;
}
#modal-two .modal-body{
  z-index: 2;
}

@media(max-width: 1440px){
  #modal-one .modal-dialog,
  #modal-two .modal-dialog{
    max-width: 550px;
  }
}