body{
  overflow-y: hidden;
}

/* loader */
#loader{
  background: white;
}

/*end loader */

#section-manifiesto{
  background-image: url(/assets/img/section-bg-lightblue.svg);
}

#section-manifiesto h2{
    /* width: 90%; */
    margin: auto;
    line-height: 1.5;
}

#section-manifiesto .container-fluid{
    display: flex;
    height: 100%;
    align-items: center;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	/* position: relative; */
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 60%;
	left: 20%;
	position: absolute;
	top: 15%;
	width: 60%;
}

#ver-manifiesto {
    position: relative;
    transition: .5s;
}
#section-manifiesto .btn{
    font-size: x-large;
}

#section-manifiesto .lightblue-waves{
    left: -2vw;
    top: 10vh;
    z-index: -1;
}

#section-manifiesto .yellow-waves{
    right: -50px;
    top: 80vh;
}

#section-manifiesto .cubo-3d{
    right: 20px;
    top: 05vh;
}

#section-manifiesto .cubo-3d.abajo{
    top: 80vh;
    left: 100px;
}

.modal .btn span{
  font-size: 1rem;
}

.page-transition{
  position: absolute;
    width: 100vw;
    top: 0;
    overflow: hidden;
    height: 100vh;
}
#rosa{
  background: var(--pink-color);
}
#amarillo{
  background: var(--yellow-color);
}
#celeste{
  background: var(--light-blue-color);

}

.top-100vh{
  top:100vh;
}


.transicion{
  animation: transicion 2s ease-in-out;
}

@keyframes transicion{
  from{
      top:100vh;
  }
  to{
      top: -100vh;
  }
}

.transicion-final{
  animation: transicion-final 2s ease-in-out;
}

@keyframes transicion-final{
  from{
      top:100vh;
  }
  to{
      top: 0vh;
  }
}
