body{
  overflow-y: hidden;
}

/* loader */
@keyframes ldio-5r7yozft0s8-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(80px,0) }
   50%    { opacity: 0; transform: translate(80px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-5r7yozft0s8 {
    0% { transform: translate(0,0) }
   50% { transform: translate(80px,0) }
  100% { transform: translate(0,0) }
}
.ldio-5r7yozft0s8 div {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.ldio-5r7yozft0s8 div:nth-child(1) {
  background: #fdfdfd;
  animation: ldio-5r7yozft0s8 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-5r7yozft0s8 div:nth-child(2) {
  background: #6dc2c4;
  animation: ldio-5r7yozft0s8 1s linear infinite;
  animation-delay: 0s;
}
.ldio-5r7yozft0s8 div:nth-child(3) {
  background: #fdfdfd;
  animation: ldio-5r7yozft0s8-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-cnoby0fxu {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-5r7yozft0s8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-5r7yozft0s8 div { box-sizing: content-box; }


.loadingio-spinner-dual-ball-cnoby0fxu{
  margin-top: 30vh;
  margin-left: 43%;
}

/*end loader */

#section-manifiesto h2{
    /* width: 90%; */
    margin: auto;
    line-height: 1.5;
}

#section-manifiesto .container-fluid{
    display: flex;
    height: 100%;
    align-items: center;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	/* position: relative; */
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 60%;
	left: 20%;
	position: absolute;
	top: 15%;
	width: 60%;
}

#ver-manifiesto {
    position: relative;
    transition: .5s;
}
#section-manifiesto .btn{
    font-size: x-large;
}

#section-manifiesto .lightblue-waves{
    left: -2vw;
    top: 10vh;
    transform: rotate(90deg);
    z-index: -1;
}

#section-manifiesto .yellow-waves{
    right: -50px;
    top: 80vh;
}

#section-manifiesto .cubo-3d{
    right: 20px;
    top: 05vh;
}

#section-manifiesto .cubo-3d.abajo{
    top: 80vh;
    left: 100px;
}

.modal .btn span{
  font-size: 1rem;
}

