/* Manifiesto styles */

/*loader*/

.loader {
  position: absolute;
  top: calc(50vh - 24px);
  left: calc(50vw - 24px);
  width:  48px;
  height: 48px;
  background: var(--pink-color);
  transform: rotateX(65deg) rotate(45deg);
  /* transform: perspective(200px) rotateX(65deg) rotate(45deg);  */
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px  }
 90% , 100% { box-shadow: 20px 20px 0 -4px  }
}
@keyframes layerTr {
  0% { transform:  translate(0, 0) scale(1) }
  100% {  transform: translate(-25px, -25px) scale(1) }
}
    

  /*end loader*/


.slide-section{
    height: 700px;
    justify-content: space-around;
    align-items: flex-end;
}


.slick-slide:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .3s;
}

.prueba-fade img{
    position: absolute;
}

/* Seccion Nike antes y después*/
#page{
    width: 50%;
    height: 100%;
    position:absolute;
}
  
/* Our normalize css */
*{
    margin:0;
    box-sizing: border-box;
}
  
/* Our wrapper */
.wrapper{
    width: 424px;
    height: 600px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate3d(-50%,-50%,0);
    overflow:hidden;
}
  
/* Our image information */
.before,
.after {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
    overflow: hidden;
}
  
.content-image{
    height:100%;
}
  
.after{
    width:125px;
}
  
.scroller{
    width: 50px;
    height:50px;
    position: absolute;
    left:100px;
    top:50%;
    transform:translateY(-50%);
    border-radius:50%;
    background-color: transparent;
    opacity:0.9;
    pointer-events:auto;
    cursor: pointer;
}
  
.scroller:hover{
    opacity:1;
}
  
.scrolling{
    pointer-events:none;
    opacity:1;
    z-index: 1;
}
  
.scroller__thumb{
    width:100%;
    height:100%;
    padding:5px;
}
  
.scroller:before,
.scroller:after{
    content:" ";
    display: block;
    width: 3px;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    z-index: 30;
    transition:0.1s;
}
.scroller:before{
    top:100%;
}
.scroller:after{
    bottom:100%;
}
  
/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.scroller{
border: 2px solid #fff;
}
.scroller:before,
.scroller:after{
background: #fff;
}

#seccion-antes-y-despues .col{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

#seccion-layers-fade h3{
    margin-top: 50%;
}