/* Seccion 3D OLD la imagen del rabanito con el texto rotado*/

#seccion-3d{
    background: url("../assets/img/fondo-violeta-seccion-3d.png");
    background-position-x: 151%;
    background-size: contain;
    background-repeat: no-repeat;
}

#seccion-3d .container{
    display: flex;
    height: 100%;
    align-items: center;
}

#seccion-3d .rotado{
    transition: transform 0.5s ease;
    transform: rotate(180deg);
}
.rotado.rotated{
    /* transform: rotate(270deg); */
}
#seccion-3d i{
    font-size: 50px;
    height: 50px;
    width: 50px;
    padding: 30px;
    border-radius: 50px;
    background: #e43c5a;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* Nuevo con texto caido */
body {
    margin: 0;
    padding: 0;
    background: #000fff;
    color: transparent;
    font-family: 'Inconsolata', monospace;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
* {
    user-select: none;
}
.word {
    position: absolute;
    cursor: grab;
    font-size: 30px;
    color: #ffeb3b;
}
.word.highlighted {
    font-weight: bold;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem;
}
.div-emojis{
    margin-top: 1rem;
}
.div-emojis img{
    max-width: 45px;
    margin: 0 0.5rem;
}
.qr-code{
    max-width: 20%;
    margin-top: 1rem !important;
}