#seccion-parallax p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

#seccion-parallax a {
  color: #c3749d;
  white-space: nowrap;
}

#seccion-parallax a:hover {
  text-decoration: none;
}

#seccion-parallax ul {
  padding-left: 2rem;
  list-style: none;
}

#seccion-parallax ul li::before {
  content: "\2022";
  color: #c3749d;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#seccion-parallax .demo-mode .info {
  display: none;
}

#seccion-parallax #seccion-parallax .demo-mode.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#seccion-parallax .info {
  position: relative;
  z-index: 1;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 0.5rem;
}

#seccion-parallax .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  margin-top: 1rem;
  padding: 0 1rem;
}

#seccion-parallax .canvas {
  position: relative;
  max-width: 30rem;
  width: 100%;
  display: block;
  height: auto;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  /* background-color: #B1B422; */
  backface-visibility: hidden;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#seccion-parallax .loading-screen {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: white;
  color: #999;
  transform: translateZ(50px);
  transition: 0.25s ease all 0.75s;
}

#seccion-parallax .loading-screen.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateZ(0);
}

#seccion-parallax .version {
  position: absolute;
  bottom: 0;
  left: 0;
}

#seccion-parallax .button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 25px;
  background-color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: 0.15s ease all;
  font-family: sans-serif;
  text-align: center;
  border: 2px solid #c3749d;
  color: #c3749d;
  overflow: hidden;
  text-decoration: none;
}

#seccion-parallax .button[download] {
  margin: 1rem auto;
}

#seccion-parallax .allow-motion-button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  padding: 1rem;
  color: #c3749d;
  background-color: white;
  border: 2px solid #c3749d;
  border-radius: 2rem;
}

#seccion-parallax .allow-motion-button.visible {
  visibility: visible;
  opacity: 1;
}

#seccion-parallax .title {
  font-weight: 700;
  color: #c3749d;
}

#seccion-parallax .only-mobile {
  display: none;
}

@media screen and (max-width: 37rem) {
  body {
    font-size: 0.9rem;
  }

  #seccion-parallax .title {
    margin-top: 1rem;
  }

  #seccion-parallax .canvas {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-height: 50rem) {
  #seccion-parallax .canvas {
    width: auto;
    max-height: 50vh;
    margin: 0 auto;
  }
}

@media screen and (max-height: 33rem) {
  #seccion-parallax .canvas {
    max-width: 88%;
    height: auto;
    margin: 0 auto;
  }

  #seccion-parallax .button[download] {
    padding: 0.5rem;
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  #seccion-parallax .only-mobile {
    display: block;
  }

  #seccion-parallax .only-desktop {
    display: none;
  }
}

@media (orientation: landscape) {
  #seccion-parallax .image-container {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  #seccion-parallax .canvas {
    width: 100%;
    max-height: 100%;
    height: auto;
    margin-top: 0;
  }
}
